body {
    font-family: Arial, sans-serif;
    padding-top: 20px;
    background-color: #f6fff6;
  }

  .container {
    max-width: 400px;
    max-height: 600px;

    margin: 10 auto;
    text-align: center;
    background-color: #08b854;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin-bottom: 30px;
    color: #333;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }